
<h2>Movimentos Manuais</h2>
<div style="min-width: 850px;">
<div *ngIf="feedback?.type" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
<form *ngIf="move" #editForm2="ngForm" (ngSubmit)="save()" [formGroup]="editForm">

  <div style="display: flex; gap: 10px;">

    <mat-form-field style=" width: 50%;">
    <mat-label>mês</mat-label>
    <input matInput [(ngModel)]="move.id.month" id="month" name="month"  formControlName="month" maxlength="2">
    <div *ngIf="editForm.get('month')?.invalid && (editForm.get('month')?.dirty || editForm.get('month')?.touched)">
      <div *ngIf="editForm.get('month')?.errors?.['invalidMonth']">
        Por favor entre com um mês vãlido.
      </div>
    </div>
  </mat-form-field>

  <mat-form-field style=" width: 50%;" >
    <mat-label>ano</mat-label>
    <input matInput [(ngModel)]="move.id.year" id="year" name="year"  formControlName="year">
      <div *ngIf="editForm.get('year')?.invalid && (editForm.get('year')?.dirty || editForm.get('year')?.touched)">
        <div *ngIf="editForm.get('year')?.errors?.['invalidYear']">
          Por favor entre um ano vãlido.
        </div>
        <div *ngIf="editForm.get('year')?.errors?.['yearOutOfRange']">
          Ano deve ser entre 1900 e 2099.
        </div>
      </div>
  </mat-form-field>
</div>

<div style="display: flex; gap: 10px;">
<div style="width: 50%;">
  <div class="form-group">
    <mat-label for="produto">produto : </mat-label>
      <select class="mydropdown" id="produto" [(ngModel)]="move.id.idProduct" (change)="onChangeProduct($event)" formControlName="produto" >
        <option value="" disabled selected>Select Product</option>
        <option *ngFor="let produto of select" [value]="produto.produto.id">{{ produto.produto.descricao }}</option>
      </select>
  </div>
</div>

<div style="width: 50%;">
  
  <div class="form-group">
    <mat-label for="cosif">cosif : </mat-label>
    <select class="mydropdown" id="cosif" [(ngModel)]="move.id.idCosif" formControlName="cosif" >
      <option value="" disabled selected>Select Cosif</option>
      <option *ngFor="let cosif of cosif" [value]="cosif.pk.idCosif">{{ cosif.pk.idCosif}} - {{cosif.classifier }}</option>
    </select>
  </div>
</div>
</div>
<mat-form-field style="width: 50%;">
  <mat-label>valor</mat-label>
  <input matInput  formControlName="amount" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="move.amount" [disabled]="active" id="amount" name="amount">
</mat-form-field>

  <mat-form-field style="width: 50%;">
    <mat-label>descrição</mat-label>
    <textarea matInput  formControlName="description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    [disabled]="!active"
    [(ngModel)]="move.description" id="description" name="description"></textarea>
  </mat-form-field>
</form>

</div>
<form #f="ngForm" style="align-items: center;">
<div style="
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    ">
    <button mat-raised-button color="primary" (click)="onReset(form)" >Limpar</button>
    <button mat-raised-button color="primary" (click)="search({month: move.id.month, year: move.id.year})" >Buscar</button>
  <button mat-raised-button color="primary"  (click)="enableField()" >Novo</button>
    <button type="submit" mat-raised-button color="primary" (click)="save()" >Incluir</button>
    <button type="button" mat-button color="accent" (click)="disableField()">Cancel</button>
    <p></p>
    <p></p>
</div>
</form>
<p></p>
<p></p>

<app-flight></app-flight>
<p></p>
<p></p>
<p></p>
