<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  </ol>
</nav>
<h2>Detail</h2>
<div style="min-width: 850px;">
<div >{{feedback.type}} - {{ feedback.message }}</div>
<form *ngIf="move" #editForm="ngForm" (ngSubmit)="save()">

  <div style="display: flex; gap: 10px;">

    <mat-form-field style=" width: 50%;">
    <mat-label>Month</mat-label>
    <input matInput [(ngModel)]="move.id.month" id="month" name="month" >
  </mat-form-field>

  <mat-form-field style=" width: 50%;" >
    <mat-label>year</mat-label>
    <input matInput [(ngModel)]="move.id.year" id="year" name="year" >
  </mat-form-field>
</div>
<!-- <div style="display: flex; gap: 10px;">
  <mat-form-field >
    <mat-label>release</mat-label>
    <input matInput [(ngModel)]="move.id.release" id="release" name="release" >
  </mat-form-field>
</div> -->
<div style="display: flex; gap: 10px;">
<div style="width: 50%;">
  <div class="form-group">
    <label for="produto">Product : </label>
      <select class="mydropdown" id="produto" [disabled]="!active" [(ngModel)]="move.id.idProduct" (change)="onChangeProduct($event)" [ngModelOptions]="{standalone: true}">
        <option value="" disabled selected>Select Product</option>
        <option *ngFor="let produto of select" [value]="produto.produto.id">{{ produto.produto.descricao }}</option>
      </select>
  </div>
</div>

<div style="width: 50%;">
  
  <div class="form-group">
    <label for="cosif">Cosif : </label>
    <select class="mydropdown" id="cosif" [disabled]="!active" [(ngModel)]="move.id.idCosif" [ngModelOptions]="{standalone: true}">
      <option value="" disabled selected>Select Cosif</option>
      <option *ngFor="let cosif of cosif" [value]="cosif.pk.idCosif">{{ cosif.pk.idCosif}} - {{cosif.classifier }}</option>
    </select>
  </div>
</div>
</div>
<!-- <div style="display: flex; gap: 10px;">
  <mat-form-field >
    <mat-label>idProduct</mat-label>
    <input matInput [(ngModel)]="move.id.idProduct" id="idProduct" name="idProduct" >
  </mat-form-field>

  <mat-form-field >
    <mat-label>IdCosif</mat-label>
    <input matInput [(ngModel)]="move.id.idCosif" id="idCosif" name="idCosif" >
  </mat-form-field>
</div> -->

<mat-form-field style="width: 50%;">
  <mat-label>amount</mat-label>
  <input matInput [(ngModel)]="move.amount" [disabled]="!active" id="amount" name="amount">
</mat-form-field>

  <mat-form-field style="width: 50%;">
    <mat-label>description</mat-label>
    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
    [disabled]="!active"
    [(ngModel)]="move.description" id="description" name="description"></textarea>
    <!-- <input matInput [(ngModel)]="move.description" id="description" name="description"> -->
  </mat-form-field>
  <!-- <div style="display: flex; gap: 10px;">

  <mat-form-field style=" width: 50%;">
    <mat-label>user</mat-label>
    <input matInput [(ngModel)]="move.user" id="user" name="user">
  </mat-form-field>

  <mat-form-field style=" width: 50%;">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="move.dtMovement" id="dtMovement" name="dtMovement">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div> -->
  <div class="button-row" role="group" *ngIf="active">
    <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid">Save</button>
    <button type="button" mat-button color="accent" (click)="disableField()">Cancel</button>
    <p></p>
    <p></p>
  </div>

</form>

</div>
<form #f="ngForm">
<div style="width: 100px;">
  <button type="button" (click)="search({month: move.id.month, year: move.id.year})" mat-mini-fab color="primary"><mat-icon>search</mat-icon></button>
  <a (click)="enableField()" mat-mini-fab color="accent"><mat-icon>add</mat-icon></a>
</div>
</form>
<p></p>
<p></p>

<app-flight></app-flight>
<p></p>
<p></p>
<p></p>
