
  <div *ngIf="flightList.length > 0;then content; else other_content"></div>

  <ng-template #other_content>
    <span class="no-records" style="align-items: center;">Manal moviment has not added records yet.</span>
</ng-template>
<ng-template #content>

  <div *ngIf="feedback.length" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <table mat-table #table [dataSource]="flightList">
    <ng-container matColumnDef="mês">
      <mat-header-cell *matHeaderCellDef style="background: lightgray;  font-weight: bolder;"> mês </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id.month}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ano">
      <mat-header-cell *matHeaderCellDef style="background: lightgray;  font-weight: bolder;"> ano </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id.year}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="código produto">
      <mat-header-cell *matHeaderCellDef style="background: lightgray; font-weight: bolder;"> código produto </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id.idProduct}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descrição produto">
      <mat-header-cell *matHeaderCellDef style="background: lightgray;  font-weight: bolder;"> descrição produto </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.produto}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NR lançamento">
      <mat-header-cell *matHeaderCellDef style="background: lightgray;  font-weight: bolder;"> NR lançamento </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.id.release}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="descrição">
      <mat-header-cell *matHeaderCellDef style="background: lightgray;  font-weight: bolder;"> descrição </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="valor">
      <mat-header-cell *matHeaderCellDef style="background: lightgray;  font-weight: bolder;"> valor </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{item.amount | currency  : 'BRL'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  </ng-template>
